PORT=5000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=probit_db
DB_USER=postgres
DB_PASS=hendro012

JWT_SECRET=probitdangak3
JWT_EXPIRES_IN=1d

ADMIN_USERNAME=Admin PROBIT
ADMIN_EMAIL=admin@probit.com
ADMIN_PASSWORD=admin123
